body {
    padding: 0;
    margin: 0;
    max-width: unset;
}
table.def th {
    white-space: nowrap;
}
table.def ul {
    padding-left: 1em;
}
table.def dfn code {
    font-family: sans-serif;
    color: #005A9C;
}
dd > p:first-child, li > p:first-child {
    margin-top: 16px;
}
code {
color:red; 
font-weight: bold;
}
@media (prefers-color-scheme: dark) {
    code {
    color:yellow; 
    font-weight: bold;
    }
}
.link { 
    stroke: #999; 
    stroke-opacity: .6; 
    stroke-width: 1px; 
}
.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapsible:hover {
    background-color: white;
}
#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 1px solid;
    padding: 50px;
    box-shadow: 5px 10px 18px #888888;
}
#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}
#table tr:nth-child(even){
    background-color: #f2f2f2;
}
#table tr:hover {
    background-color: #ddd;
}
#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    padding: 8px;
    background-color: #04AA6D;
    color: white;
}
figcaption {
    /* in case figure is overlarge, limit caption to 50em */
    margin-left: unset;
    margin-top: 1rem;
}
.node {
    cursor: pointer;
}
.node circle {
fill: #fff;
stroke: steelblue;
stroke-width: 3px;
}
.node text {
font: 12px sans-serif;
}
.link {
fill: none;
stroke: #ccc;
stroke-width: 1px;
}
