# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Check
      run: ./gradlew build
    - name: Analyze
      run: ./gradlew startFuseki query stopFuseki -x reason
    - name: Render
      run: ./gradlew render -x query
    - name: Bikeshed
      uses: netwerk-digitaal-erfgoed/bikeshed-action@v1
      with:
        source: src/bs/index.bs
        destination: build/web/index.html
    - name: Upload
      if: ${{ always() }}
      uses: actions/upload-artifact@v3
      with:
        name: build
        path: build/
    - name: Publish
      uses: actions/upload-pages-artifact@v1
      with:
        path: build/web/

  jupyter:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with: 
          python-version: 3.11
      - name: Install Dependencies
        run: python -m pip install -r src/jpynb/requirements.txt
      - name: Convert notebook to html
        run: python -m nbconvert --output-dir='./build/web/jpynb' --execute --to html src/jpynb/kepler16b_reduction.ipynb --no-input
      - name: Add Link to Bikeshed HTML and vice versa
        run: python src/jpynb/scripts/add_connect_bs_jpynb.py
        
  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v1
